<h1 mat-dialog-title>{{ data.id ? 'Edit Client' : 'Add New Client' }}</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Code Douance</mat-label>
      <input matInput [(ngModel)]="data.codeDouance" name="codeDouance" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero Compte</mat-label>
      <input matInput [(ngModel)]="data.numeroCompte" name="numeroCompte" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.nom" name="nom" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="data.adresse" name="adresse" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date Creation</mat-label>
      <input matInput [(ngModel)]="data.dateCreation" name="dateCreation" required type="date">
    </mat-form-field>
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</div>
